# Rust build artifacts
/target/
/temp_gust_e2e_dir/
/test_e2e_file_io_evaluation_output.txt

# Transpiled C files
/gust_output.c
/gust_unsafe.c

# Compiled native binaries
/gust_program
/gust_unsafe_program

# Aggregator output
/a.txt

/to.log
