# Rust build artifacts
/target/
/temp_gust_e2e_dir/

# Transpiled C files
/gust_output.c
/gust_unsafe.c

# Compiled native binaries
/gust_program
/gust_unsafe_program

# Aggregator output
/a.txt

/test_results.log
